@charset "UTF-8";
body {
  background: #dedede;
}

.link-to-videos {
  text-align: right;
  padding-right: 20px;
}
.link-to-videos p {
  font-size: 0.9em;
  color: #9b0303;
}
.link-to-videos p::before {
  content: "*";
  font-size: 1em;
}

a.video-list-data {
  background: #fff;
  padding: 20px;
  box-shadow: 1px 3px 6px #3b638b;
}
a.video-list-data:hover {
  background: #3b638b;
  color: #fff;
}

.log-in-button {
  position: fixed;
  bottom: 1%;
  right: 2%;
  width: 100%;
  max-width: 180px;
  text-align: center;
}
.log-in-button a {
  text-decoration: none;
}
.log-in-button a .login {
  background: rgba(0, 0, 0, 0.66);
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
}
.log-in-button a .register {
  background: rgba(126, 39, 39, 0.66);
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
}
.log-in-button .button-area {
  margin: 2vh auto;
}

header {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
}
header .navbar {
  background: #212529;
}
header .navbar-bottom {
  background: #fff;
  height: 60px;
}
header .navbar-bottom .navbar-bottom-contents {
  height: 60px;
}
header .navbar-bottom .navbar-bottom-contents a {
  text-decoration: none;
  font-size: 1em;
  text-align: center;
}
header .navbar-bottom .navbar-bottom-contents a span {
  font-size: 0.8em;
  color: #000;
}
header .navbar-bottom .navbar-bottom-contents a i {
  font-size: 0.8em;
  color: #9a9a9a;
}

footer {
  background: #212529;
  color: #fff;
  padding: 2vh 0;
  text-align: center;
}

.tabs {
  display: block;
  margin: 2em auto;
  color: #444;
  background: #fff;
  padding: 0.5em;
  max-width: 800px;
}

.tabs-nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.tabs-nav > ul li {
  padding: 1em 1.5em;
  background: #fff;
  flex-grow: 1;
  font-weight: 500;
  font-size: 1.3em;
}
.tabs-nav > ul li.is-active {
  background: #eee;
  color: #27b4a8;
}

.tabs-content > div {
  display: none;
  padding: 1.5em;
  background: #eee;
}
.tabs-content > div.is-active {
  display: block;
}

.perm {
  border: 5px solid #199cb0;
  background: #199cb0;
}

.cut {
  border: 5px solid #b7b79d;
  background: #b7b79d;
}

.color {
  border: 5px solid #f491ff;
  background: #f491ff;
}

.seminar {
  margin: 2vh auto;
}
.seminar .seminar-top {
  display: flex;
  flex-direction: row;
}
.seminar .seminar-top .column {
  display: flex;
  display: column;
  width: 100%;
}
.seminar .seminar-top .column .inner-column-left {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
.seminar .seminar-top .column .inner-column-left:nth-last-child(1) {
  margin-right: 0;
}
.seminar .seminar-top .column .inner-column-right {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
.seminar .seminar-top .title-area .type {
  flex: 1;
  background: #000;
  color: #fff;
  padding: 10px 20px;
}
.seminar .seminar-top .title-area .title {
  flex: 3;
  background: #000;
  color: #fff;
  padding: 10px 20px;
}
.seminar .seminar-top .instructor .title {
  font-weight: bold;
  width: 20%;
}
.seminar .seminar-top .instructor .instructor-list {
  width: 80%;
  padding: 10px;
}
.seminar .seminar-top .instructor .instructor-list ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.seminar .seminar-top .instructor .instructor-list ul li {
  display: inline-block;
  background: #e6e6e6;
  padding: 3px 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 0.9em;
}
.seminar .seminar-contents {
  margin-top: 1vh;
  padding: 2vh 0 1vh;
  background: #fff;
}
.seminar .seminar-contents .number {
  text-align: right;
}
.seminar .seminar-contents .number span {
  border: 1px solid #9a9a9a;
  padding: 3px 5px;
  margin-right: 10px;
}
.seminar .seminar-contents .number span em {
  font-style: normal;
}
.seminar .seminar-contents .seminar-details .brief-details {
  padding: 10px 20px;
  margin-bottom: 2vh;
  border-bottom: 1px solid #9a9a9a;
  font-weight: bold;
}
.seminar .seminar-contents .seminar-details .details .detail-top {
  display: flex;
  flex-direction: row;
}
.seminar .seminar-contents .seminar-details .details .detail-top .column {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.seminar .seminar-contents .seminar-details .details .detail-top .left {
  background: #9a9a9a;
  border: 1px solid #373333;
  padding: 5px 10px;
}
.seminar .seminar-contents .seminar-details .details .detail-top .left h4 {
  margin-bottom: 0;
  font-size: 16px;
}
.seminar .seminar-contents .seminar-details .details .detail-top .right {
  padding: 5px;
  border: 1px solid #000;
}
.seminar .seminar-contents .seminar-details .details .detail-top .right p {
  margin-bottom: 0;
  font-size: 16px;
}
.seminar .seminar-contents .seminar-details .details .seminar-points {
  margin-top: 10px;
  padding: 10px;
  border: 1px dashed #9a9a9a;
}
.seminar .seminar-contents .seminar-details .details .seminar-points ul {
  margin-top: 10px;
  list-style-type: none;
  padding: 0;
}
.seminar .seminar-contents .seminar-details .details .seminar-points ul li {
  font-size: 0.9em;
}
.seminar .seminar-contents .seminar-details .details .seminar-points ul li::before {
  margin-right: 3px;
  content: "◉";
  font-weight: bold;
  color: #3d2727;
  font-size: 0.7em;
}
.seminar .seminar-contents .seminar-details .stylists {
  padding: 2vh 10px;
}
.seminar .seminar-contents .seminar-details .stylists .instructor-image .stylist h5 {
  font-size: 0.8em;
  text-align: center;
}
.seminar .seminar-contents .seminar-details .stylists .instructor-image .stylist h5 span {
  margin-right: 2px;
}
.seminar .seminar-contents .seminar-details .message-from-instructor {
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.seminar .seminar-contents .seminar-details .message-from-instructor .heading-text {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.seminar .seminar-contents .seminar-details .message-from-instructor .heading-text span {
  background: #9a9a9a;
  padding: 5px 10px;
  font-size: 16px;
  color: #fff;
}
.seminar .seminar-contents .seminar-details .message-from-instructor .message {
  flex: 3;
  display: flex;
  align-items: center;
  padding: 5px;
}

.wrapper {
  background: #dedede;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.br_on {
  display: none;
}

.top-intro {
  background: #fff;
  padding: 5vh 0;
}
.top-intro .contents h4 {
  font-size: 2em;
  color: #F16821;
}

.top-banner {
  margin-top: 100px;
}
.top-banner .banner-image {
  padding-top: calc(100% / 3);
  position: relative;
}
.top-banner .banner-image h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  color: #fff;
}
.top-banner .banner-image h2 span {
  background: rgba(50, 50, 50, 0.66);
  padding: 5px 10px;
}
.top-banner .banner-image img {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 2;
}

.curriculum {
  background: white;
  padding: 20px 30px;
  margin-bottom: 3vh;
}
.curriculum h3 {
  color: #df7727;
  margin: 0;
}
.curriculum .curriculum-image {
  margin: 0 auto;
  background: #fff6db;
}
.curriculum .details {
  padding: 20px 10px;
  background: rgba(255, 225, 225, 0.66);
  display: flex;
  align-items: center;
  justify-content: center;
}
.curriculum .details .curriculum-details .course-types {
  display: flex;
  flex-direction: row;
}
.curriculum .details .curriculum-details .course-types ul {
  list-style-type: none;
  padding: 0;
}
.curriculum .details .curriculum-details .course-types ul li {
  display: inline-block;
  text-align: center;
  border: 1px solid #9a9a9a;
  font-size: 0.7em;
  padding: 5px 20px;
  margin-right: 5px;
  background: #9a9a9a;
  color: #fff;
}
.curriculum .details .curriculum-details h4 {
  text-decoration: underline;
  font-size: 1.25em;
}
.curriculum .details .curriculum-details .recommend-for {
  display: flex;
  flex-direction: row;
  margin: 3vh auto;
}
.curriculum .details .curriculum-details .recommend-for .item {
  width: calc(100% / 3);
}
.curriculum .details .curriculum-details .recommend-for .item .text {
  width: 98%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #9a9a9a;
  border-radius: 5px;
  font-size: 0.8em;
  background: #fff;
}
.curriculum .basic {
  background: navajowhite;
}
.curriculum .standard {
  background: #fbd152;
}
.curriculum .high {
  background: #ffc000;
}
.curriculum .top-level {
  background: coral;
}
.curriculum .recommend .recommend-for {
  display: flex;
  flex-direction: row;
  margin: 3vh auto;
}
.curriculum .recommend .recommend-for .item {
  width: calc(100% / 3);
}
.curriculum .recommend .recommend-for .item .text {
  width: 98%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #9a9a9a;
  border-radius: 5px;
}
.curriculum .button-area {
  background: #f16821;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 3px 6px rgba(50, 50, 50, 0.66);
}
.curriculum .button-area a {
  color: #fff;
}

.top-page-main {
  background: #ecf770;
}
.top-page-main .top-details {
  padding: 2vh 10px;
}
.top-page-main .top-details .text {
  width: 100%;
  padding: 10px;
  text-align: left;
}
.top-page-main .top-details .text h3 {
  font-size: 1.75em;
  background: #000;
  color: #fff;
  padding: 5px 10px;
  text-align: center;
}
.top-page-main .top-details .text p {
  padding: 0 20px;
  margin-top: 2vh;
}
.top-page-main .top-details .text .levels {
  margin: 3vh auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.top-page-main .top-details .text .levels .level {
  display: inline-block;
  width: calc(95%/3);
  text-align: center;
  font-size: 1.25em;
  background: #fff;
  padding: 10px 20px;
  border: 1px solid #d68100;
  border-radius: 5px;
  text-decoration: none;
}
.top-page-main .top-details .text .levels .level a {
  color: #d68100;
  text-decoration: none;
}
.top-page-main .top-details .text .levels ul {
  list-style-type: none;
  padding: 0;
}
.top-page-main .top-details .text .levels ul li {
  display: inline-block;
  margin: 0 5px;
}
.top-page-main .top-details .text .levels ul li a {
  text-decoration: none;
  color: #d68100;
  background: #fff;
  padding: 10px 20px;
  border: 1px solid #d68100;
  border-radius: 5px;
}
.top-page-main .top-details .text .levels ul li a:hover {
  background: #d68100;
  color: #fff;
}

.guidelines {
  margin: 4vh auto 8vh;
}
.guidelines .course-guidelines {
  padding: 4vh 0;
  background: white;
}
.guidelines .course-guidelines h3 {
  text-align: center;
  margin-top: 4vh;
  font-size: 2.5em;
}
.guidelines .course-guidelines h3 span {
  padding-bottom: 3px;
  padding: 10px;
  color: #fff;
  background: #000;
}
.guidelines .course-guidelines h4 {
  text-align: center;
  margin: 5vh auto;
  line-height: 2em;
  font-size: 1.25em;
}
.guidelines .course-guidelines .list {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}
.guidelines .course-guidelines .list .course-list {
  width: 20%;
  text-align: center;
  border: 1px solid #9a9a9a;
  background: #fff;
  font-size: 0.8em;
}
.guidelines .course-guidelines .menu-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10px;
}
.guidelines .course-guidelines .menu-list .menu {
  width: 24%;
  margin: 0 auto 2vh;
  text-align: center;
}
.guidelines .course-guidelines .menu-list .menu .top {
  color: #fff;
  font-weight: bold;
  background: #526070;
  border-radius: 5px 5px 0 0;
}
.guidelines .course-guidelines .menu-list .menu .bottom {
  border: 1px solid #9a9a9a;
  padding: 10px 20px;
  background: linear-gradient(100deg, white 0%, #c3bdc9 100%);
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.66);
}
.guidelines .course-and-short-description {
  margin: 3vh auto;
}
.guidelines .course-and-short-description .course-type {
  font-size: 1.15em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #9a9a9a;
}
.guidelines .course-and-short-description .course-description {
  font-weight: bold;
  background: #fff;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #9a9a9a;
  border-right: 1px solid #9a9a9a;
  border-top: 1px solid #9a9a9a;
}
.guidelines .course-and-short-description .basic {
  background: navajowhite;
}
.guidelines .course-and-short-description .standard {
  background: #fbd152;
}
.guidelines .course-and-short-description .high {
  background: #ffc000;
}
.guidelines .course-and-short-description .top-level {
  background: coral;
}

.list_table,
.list_table > dt,
.list_table > dd {
  box-sizing: border-box;
}

.list_table > dt,
.list_table > dd {
  padding: 1em;
  margin: 0px;
}

.list_table {
  margin-bottom: 5px;
}
.list_table > dt {
  background-color: #3b638b;
  color: #fff;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #0e355c;
}
.list_table > dd {
  background-color: #fff;
  width: 80%;
  border-right: 1px solid #ddd;
}
.list_table > dd > .row {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-bottom: 1px dashed #9a9a9a;
}
.list_table > dd > .row:nth-child(1) {
  border-bottom: none;
}
.list_table > dd > .row .column {
  width: calc(100% / 5);
}
.list_table > dd > .row .type {
  font-weight: bold;
}
.list_table > dd > .row .table-header {
  background: #3b638b;
  color: #fff;
}
.list_table > dd > ul {
  text-align: left;
}

.courses {
  border: 1px solid #9a9a9a;
  position: relative;
}

.course-table {
  width: 90%;
  margin: 0 auto;
  max-width: 1120px;
}
.course-table ul {
  list-style-type: none;
  padding: 0;
}
.course-table ul.nav {
  margin: 2vh auto;
  width: 100%;
  height: 60px;
  padding: 0;
}
.course-table ul.nav > li {
  float: left;
  width: calc(100% / 3);
  height: 60px;
  background-color: white;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
}
.course-table ul.nav > li.on {
  background-color: #fc8e56;
  font-weight: bold;
}
.course-table ul.snav {
  display: none;
  margin: 2vh auto;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.course-table ul.snav > li {
  display: inline-block;
  width: 20%;
  height: 60px;
  background-color: #f4f4f4;
  border: 1px dashed #323232;
  text-align: center;
  line-height: 60px;
  font-size: small;
  cursor: pointer;
  margin: 0;
}
.course-table ul.snav > li:nth-child(2n) {
  background-color: #f4f4f4;
  border: 1px dashed #323232;
  border-bottom: none;
}
.course-table ul.snav > li:nth-child(odd) {
  border-bottom: none;
}
.course-table ul.snav > li:hover {
  background-color: #b3b3b3;
}
.course-table ul.snav > li.on {
  background-color: #4a4a4d;
  color: #fff;
}

.cont {
  display: none;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .container {
    width: 100%;
    max-width: 960px;
  }

  .curriculum .details {
    margin: 3vh auto;
  }

  .guidelines .course-and-short-description {
    margin: 3vh auto;
  }
  .guidelines .course-and-short-description .course-type {
    font-size: 1.25em;
    color: #fff;
    display: flex;
    align-items: center;
  }
  .guidelines .course-and-short-description .course-description {
    font-weight: bold;
    background: #fff;
    font-size: 1em;
    display: flex;
    align-items: center;
  }

  .course-table {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .list_table {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;
  }
}
@media screen and (max-width: 768px) {
  .seminar .seminar-top {
    flex-direction: column;
  }
  .seminar .seminar-top .column {
    margin-bottom: 1vh;
  }
  .seminar .seminar-contents .message-from-instructor .heading-text {
    flex: 1;
  }
  .seminar .seminar-contents .message-from-instructor .message {
    flex: 2;
  }

  .top-banner .banner-image {
    padding-top: calc(100% / 3 * 2);
  }

  .top-page-main .top-details .text .levels .level {
    font-size: 0.9em;
  }

  .curriculum .details {
    margin-top: 2vh;
  }
  .curriculum .details .curriculum-details .course-types ul li {
    margin: 5px auto;
  }
  .curriculum .details .curriculum-details .recommend-for {
    flex-direction: column;
    width: 75%;
  }
  .curriculum .details .curriculum-details .recommend-for .item {
    width: 100%;
    margin: 5px auto;
  }

  .guidelines .course-guidelines h3 {
    font-size: 2em;
  }
  .guidelines .course-guidelines .list {
    flex-direction: column;
    margin: 10px auto;
  }
  .guidelines .course-guidelines .list .course-list {
    width: 75%;
    margin: 0 auto;
  }
  .guidelines .course-and-short-description {
    margin: 3vh auto;
  }
  .guidelines .course-and-short-description .course-type {
    font-size: 1.25em;
    color: #fff;
    display: flex;
    align-items: center;
  }
  .guidelines .course-and-short-description .course-description {
    font-weight: bold;
    background: #fff;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: none;
    border-left: 1px solid #9a9a9a;
  }

  .list_table > dd {
    border: 1px solid #ddd;
    border-top: none;
  }

  .list_table > dt,
.list_table > dd {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid #ddd;
  }

  .list_table > dt {
    color: #fff;
    width: 100%;
  }
  .list_table > dd {
    background-color: #fff;
    width: 100%;
    border-right: 1px solid #ddd;
  }
  .list_table > dd > .row {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px dashed #9a9a9a;
  }
  .list_table > dd > .row:nth-child(1) {
    border-top: 1px dashed #9a9a9a;
  }
  .list_table > dd > .row .column {
    width: calc(100% / 5);
    font-size: 0.8em;
  }
  .list_table > dd > ul {
    text-align: left;
  }

  .course-table ul.snav {
    display: none;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .course-table ul.snav > li {
    display: inline-block;
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .seminar .seminar-top {
    flex-direction: column;
  }
  .seminar .seminar-top .instructor {
    padding: 10px 20px;
  }
  .seminar .seminar-contents {
    margin-top: 0;
  }
  .seminar .seminar-contents .details .detail-top .column {
    margin: 2px 0;
  }
  .seminar .seminar-contents .seminar-details .message-from-instructor {
    flex-direction: column;
  }
  .seminar .seminar-contents .seminar-details .message-from-instructor .heading-text {
    flex: 1;
  }
  .seminar .seminar-contents .seminar-details .message-from-instructor .message {
    flex: 2;
    border: 1px dashed #9a9a9a;
    margin-top: 2vh;
    padding: 20px;
  }

  .top-banner .banner-image {
    padding-top: 75%;
    position: relative;
  }
  .top-banner .banner-image h2 {
    width: 100%;
    text-align: center;
  }
  .top-banner .banner-image img {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .guidelines .course-guidelines .menu-list .menu {
    width: 46%;
  }

  .courses {
    margin: 2vh auto;
  }

  .curriculum .details .curriculum-details .course-types ul li {
    margin-bottom: 10px;
    width: 49%;
  }

  .list_table > dd > .row .column {
    font-size: 0.9em;
  }
  .list_table > dd > .row .table-header {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .guidelines .course-guidelines h3 {
    font-size: 1.5em;
  }
  .guidelines .course-guidelines h4 {
    font-size: 1.1em;
  }

  .seminar .seminar-top .title-area .type {
    flex: 1;
    background: #000;
    color: #fff;
  }
  .seminar .seminar-top .title-area .title {
    flex: 4;
    background: #000;
    color: #fff;
  }
  .seminar .seminar-contents .seminar-details .details .detail-top {
    flex-direction: column;
  }
  .seminar .seminar-contents .seminar-details .details .detail-top .column {
    margin-right: 0;
  }
  .seminar .seminar-contents .seminar-details .details .detail-top .right p {
    font-size: 0.9em;
  }
  .seminar .seminar-contents .seminar-details .message-from-instructor {
    flex-direction: column;
  }
  .seminar .seminar-contents .seminar-details .message-from-instructor .heading-text {
    flex: 1;
    padding: 10px;
  }
  .seminar .seminar-contents .seminar-details .message-from-instructor .message {
    flex: 1;
    padding: 10px;
  }

  .list_table > dd > .row .column {
    width: 100%;
    padding: 10px 5px;
  }
  .list_table > dd > .row .type {
    text-decoration: underline;
    background: #0e355c;
    padding: 10px;
    color: #fff;
  }

  .top-page-main .top-details .text h3 {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 450px) {
  .top-page-main .top-details .text h3 {
    font-size: 1.25em;
  }
  .top-page-main .top-details .text .levels .level {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 414px) {
  .guidelines .course-guidelines h3 {
    font-size: 1.25em;
  }
  .guidelines .course-guidelines h4 {
    font-size: 1em;
  }
}
@media screen and (max-width: 400px) {
  .guidelines .course-guidelines h3 {
    font-size: 1.25em;
  }
  .guidelines .course-guidelines h4 {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 390px) {
  .seminar .seminar-top .instructor {
    flex-direction: column;
  }
  .seminar .seminar-top .instructor .title {
    width: 100%;
  }
  .seminar .seminar-top .instructor .instructor-list {
    width: 100%;
  }
  .seminar .seminar-top .column .inner-column-right {
    justify-content: left;
  }
}

/*# sourceMappingURL=index.css.map */
